body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: #fff;
}

input:focus {
  border-color: #007bff;
  border-width: 3px; /* Adjust thickness as needed */
}


.form-group {
  position: relative;
  margin-bottom: 20px;
}


input:focus + label,
input:not(:placeholder-shown) + label {
  top: 5px;
  font-size: 12px;
  color: #007bff; /* Visible when focused or text is entered */
}
  
